[submodule "external_libraries/glad_opengl_3.3_core"]
	path = external_libraries/glad_opengl_3.3_core
	url = git@github.com:opengl-toolbox/glad_opengl_3.3_core.git
[submodule "external_libraries/glfw"]
	path = external_libraries/glfw
	url = git@github.com:glfw/glfw.git
[submodule "src/window"]
	path = src/window
	url = git@github.com:cpp-toolbox/window.git
[submodule "clang_formatting"]
	path = clang_formatting
	url = git@github.com:cpp-toolbox/clang_formatting.git
