name: Build (Windows / macOS / Linux)

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      # ----------------------------
      # Checkout
      # ----------------------------
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # ----------------------------
      # Setup Conan
      # ----------------------------
      - name: Install Conan
        uses: conan-io/setup-conan@v1

      # ----------------------------
      # Install dependencies
      # ----------------------------
      - name: conan install packages
        run: conan install . --build=missing -c tools.system.package_manager:mode=install

      - name: sbpt initialization
        run: python scripts/sbpt/main.py init src

      # ----------------------------
      # Build
      # ----------------------------
      - name: Configure & Build
        run: |
            cmake --preset conan-release
            cmake --build --preset conan-release
        shell: bash

      # ----------------------------
      # Upload artifact
      # ----------------------------
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: build/Release/
